@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --primary-color: #FACC15;


}

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;

}

.head {
    text-align: center;
    padding: 3rem;
    background-color: var(--primary-color);
}

.text {
    display: block;
    width: 450px;
    height: 10vh;
    margin: auto;
    padding: 1rem;


}

.output {
    border: 1px solid black;
    width: 450px;
    height: 10vh;
    margin: auto;
    padding: 1rem;



}

.button {
    width: 10rem;
    height: 5vh;
    display: block;
    margin: auto;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 1rem;
    font-weight: bold;
    border: none;


}

.div {
    margin: 2rem;
}

.footer {
    background-color: var(--primary-color);
    margin-top: 2rem;
}

.footer-head {
    font-size: x-large;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
}